.breaking-news{
	padding: 30px;
	color: rgb(0, 0, 0);
	text-decoration: none;	
	font-weight: 800;
}
.breaking-news:hover,.social-icons i:hover{
	color:#ff0000;
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: rgba(255,255,255,0.5);
	padding: 0 10px;
	font-size: 12px;
}
